.DS_Store
./*/*/.DS_Store
./.DS_Store
./*/.DS_Store
.idea/
code*
improv*
more-readme.md
run-goose.sh
run-tests.sh
sqlfiles.txt
testing-strategy.md
target
.summary_files
*target*
integration-service/target
discovery-service/target
notification-service/target
payment-service/target
wallet-service/target
user-service/target
phatutree.txt